.pustakis {
  position: absolute;
  top: 13px;
  left: 53px;
  font-size: var(--font-size-10xl);
  font-family: var(--font-inria-serif);
  color: var(--color-black);
}
.logo-placeholder-child {
  position: absolute;
  top: 18px;
  left: 24px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 24px;
  height: 24px;
}
.p,
.t {
  position: absolute;
  top: 13px;
  left: 30px;
}
.t {
  top: 16px;
  left: 33px;
}
.logo-placeholder {
  position: relative;
  width: 184px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu-item {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.menu-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.menu-item3 {
  position: relative;
  font-weight: 500;
}
.frame-div,
.menu-items {
  display: flex;
  flex-direction: row;
}
.frame-div {
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  width: 121px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-white);
}
.menu-items {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--paragraph-body-text-size);
  color: var(--color-gray-400);
  font-family: var(--h2);
}
.header-navigation-container,
.navbar-user {
  width: 1152px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-user {
  background-color: var(--color-darkgray);
  width: 1440px;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inknut-antiqua);
}
.kisah-nabi-sulaiman {
  position: relative;
  line-height: 105%;
  display: inline-block;
  width: 425px;
    text-decoration: none;
}
.kisah-nabi-sulaiman-wrapper {
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a2b33c74ab89de3d403d97487343b4-icon {
  position: relative;
  border-radius: var(--br-base);
  width: 386px;
  height: 337px;
  object-fit: cover;
}
.horizontal-card-container {
  width: 956px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-91xl);
}
.horizontal-card-container-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-77xl) 0;
  box-sizing: border-box;
}
.frame-icon {
  position: absolute;
  top: 377px;
  left: 144px;
  width: 1296px;
  height: 697px;
  overflow: hidden;
}
.c67727abd38d9663ec47958eec74b5-icon {
  position: relative;
  border-radius: var(--br-base);
  width: 435px;
  height: 328px;
  object-fit: cover;
}
.horizontal-card-container-container {
  position: absolute;
  top: 526px;
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-77xl);
  box-sizing: border-box;
}
.a5d1662400b74760bffc3aa2d8a2ca-icon {
  position: relative;
  border-radius: var(--br-base);
  width: 493px;
  height: 328px;
  object-fit: cover;
}
.horizontal-card-container-frame {
  position: absolute;
  top: 950px;
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 1440px;
  height: 436px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-77xl);
  box-sizing: border-box;
}
.frame {
  position: relative;
  width: 1440px;
  height: 1386px;
  overflow: hidden;
  flex-shrink: 0;
}
.f7886fb390c497f0c74c8fcf77ed67-icon {
  position: relative;
  width: 495.7px;
  height: 334px;
  object-fit: cover;
}
.kisah-nabi-ibrahim-wrapper {
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.horizontal-card-container-wrapper1,
.materi-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-card-container-wrapper1 {
  background-color: var(--color-white);
  width: 1440px;
  padding: 0 0 var(--padding-77xl);
  box-sizing: border-box;
}
.materi-user {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  overflow-x: auto;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--color-black);
  font-family: var(--h2);
}
